{#
// --------------------------- LVP Areas ----------------------------

MAP:Critical Areas
AIRPORT:EDDF
FOLDER:LVP
ACTIVE:LVP:EDDF:1
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['Critical Area'] | to_multipoly('Critical Area', 'lvp-areas') }}
{{ data.eddf_layout['layout']['LVP']['Sensitive Area'] | to_multiline('Sensitive Area') }}
#}