// -------------------------- Ground Layout -------------------------
{% set default = 0.000005 %}
MAP:Taxiway Movement Area
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddf_layout['layout']['Taxiways']['Taxiways'] | to_multipoly('Taxi Area','layout-taxiway') }}

MAP:Runways
AIRPORT:EDDF
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddf_layout['layout']['Runways']['25L/07R'] | to_poly('Runway 25L/07R','layout-runway') }}
{{ data.eddf_layout['layout']['Runways']['25C/07C'] | to_poly('Runway 25C/07C','layout-runway') }}
{{ data.eddf_layout['layout']['Runways']['25R/07L'] | to_poly('Runway 25R/07L','layout-runway') }}
{{ data.eddf_layout['layout']['Runways']['18'] | to_poly('Runway 18','layout-runway') }}
