// ------------------------- Holding Points -------------------------
{% set default = 0.000005 %}
MAP:Holding Points CAT I
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:LVP:EDDF:0
{% for desig in [
    'L1 I', 
    'L10 I', 
    'L11 I', 
    'L13 I', 
    'L14 I', 
    'L15 I', 
    'L16 I', 
    'L17 I', 
    'L19 I', 
    'L20 I', 
    'L21 I', 
    'L3 I', 
    'L4 I', 
    'L5 I', 
    'L6 I', 
    'L7 I', 
    'L8 I', 
    'L9 I', 
    'M10 I', 
    'M11 I', 
    'M13 I', 
    'M14 I', 
    'M15 I', 
    'M17 I', 
    'M19 I', 
    'M21 I', 
    'M23 I', 
    'M24 I', 
    'M25 I', 
    'M27 I', 
    'M28 I', 
    'M29 I', 
    'M30 I', 
    'M34 I', 
    'M6 I', 
    'M7 I', 
    'M8 I', 
    'M9 I', 
    'P10 I', 
    'P14 I', 
    'P16 I', 
    'P20 I', 
    'P24 I', 
    'P4 I', 
    'P6 I', 
    'P8 I', 
    'R10 I', 
    'R11 I', 
    'R13 I', 
    'R15 I', 
    'R17 I', 
    'R3 I', 
    'R5 I', 
    'R7 I', 
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
{% for desig in [
    'L',
    'M',
    'M2',
    'N',
    'N-South',
    'S',
    'S40',
    'T2',
    'T4',
    'T6',
    'T8',
    'U2',
    'U4',
    'U6',
    'U8',
    'W1',
    'W10',
    'W2',
    'W3',
    'W4',
    'W6',
    'W8',
    'W9',
    'Y10',
    'Y12',
    'Y2',
    'Y4',
    'Y5',
    'Y6',
    'Y9',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-grey') }}
{% endfor %}
{% for desig in [
    'L1 III',
    'L10/L11 III',
    'L13 III',
    'L14 III',
    'L15 III',
    'L16 III',
    'L17/L19 III',
    'L17/L19 III',
    'L2 III',
    'L20/L21 III',
    'L4 III',
    'L5 III',
    'L6 III',
    'L7-E III',
    'L7-W III',
    'L8 III',
    'L9 III',
    'M10 III',
    'M11 III',
    'M13-E III',
    'M13-W III',
    'M14-E III',
    'M14-W III',
    'M15-E III',
    'M15-W III',
    'M17-E III',
    'M17-W III',
    'M19 III',
    'M21-E III',
    'M21-W III',
    'M23 III',
    'M24 III',
    'M25 III',
    'M27-E III',
    'M27-W III',
    'M28 III',
    'M29-E III',
    'M29-W III',
    'M30 III',
    'M34 III',
    'M6 III',
    'M7 III',
    'M8 III',
    'M9-E III',
    'M9-W III',
    'P10-E III',
    'P10-W III',
    'P14-E III',
    'P14-W III',
    'P16 III',
    'P20 III',
    'P24 III',
    'P4 III',
    'P6-E III',
    'P6-W III',
    'P8-E III',
    'P8-W III',
    'R10-E III',
    'R10-W III',
    'R11-E III',
    'R11-W III',
    'R13-E III',
    'R13-W III',
    'R15-E III',
    'R15-W III',
    'R17 III',
    'R3 III',
    'R5 III',
    'R7-E III',
    'R7-W III',
    'Y3 III',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT III'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-grey') }}
{% endfor %}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{% for desig in [
    'L1 I', 
    'L10 I', 
    'L11 I', 
    'L13 I', 
    'L14 I', 
    'L15 I', 
    'L16 I', 
    'L17 I', 
    'L19 I', 
    'L20 I', 
    'L21 I', 
    'L3 I', 
    'L4 I', 
    'L5 I', 
    'L6 I', 
    'L7 I', 
    'L8 I', 
    'L9 I', 
    'M10 I', 
    'M11 I', 
    'M13 I', 
    'M14 I', 
    'M15 I', 
    'M17 I', 
    'M19 I', 
    'M21 I', 
    'M23 I', 
    'M24 I', 
    'M25 I', 
    'M27 I', 
    'M28 I', 
    'M29 I', 
    'M30 I', 
    'M34 I', 
    'M6 I', 
    'M7 I', 
    'M8 I', 
    'M9 I', 
    'P10 I', 
    'P14 I', 
    'P16 I', 
    'P20 I', 
    'P24 I', 
    'P4 I', 
    'P6 I', 
    'P8 I', 
    'R10 I', 
    'R11 I', 
    'R13 I', 
    'R15 I', 
    'R17 I', 
    'R3 I', 
    'R5 I', 
    'R7 I', 
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I L'][ desig | string ] | to_line(desig) }}
{% endfor %}
COLOR:layout-holdingpoint-grey
{% for desig in [
    'L',
    'M',
    'M2',
    'N',
    'N-South',
    'S',
    'S40',
    'T2',
    'T4',
    'T6',
    'T8',
    'U2',
    'U4',
    'U6',
    'U8',
    'W1',
    'W10',
    'W2',
    'W3',
    'W4',
    'W6',
    'W8',
    'W9',
    'Y10',
    'Y12',
    'Y2',
    'Y4',
    'Y5',
    'Y6',
    'Y9',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I L'][ desig | string ] | to_line(desig) }}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:LVP:EDDF:1
{% for desig in [
    'M2',
    'S40',
    'T2',
    'T4',
    'T6',
    'T8',
    'U2',
    'U4',
    'U6',
    'U8',
    'W10',
    'W2',
    'W4',
    'W6',
    'W8',
    'Y10',
    'Y12',
    'Y2',
    'Y4',
    'Y6',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-red') }}
{% endfor %}
{% for desig in [
    'L',
    'M',
    'N',
    'N-South',
    'S',
    'W1',
    'W3',
    'W9',
    'Y5',
    'Y9',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-grey') }}
{% endfor %}
{% for desig in [
    'L1 III',
    'L10/L11 III',
    'L13 III',
    'L14 III',
    'L15 III',
    'L16 III',
    'L17/L19 III',
    'L17/L19 III',
    'L2 III',
    'L20/L21 III',
    'L4 III',
    'L5 III',
    'L6 III',
    'L7-E III',
    'L7-W III',
    'L8 III',
    'L9 III',
    'M10 III',
    'M11 III',
    'M13-E III',
    'M13-W III',
    'M14-E III',
    'M14-W III',
    'M15-E III',
    'M15-W III',
    'M17-E III',
    'M17-W III',
    'M19 III',
    'M21-E III',
    'M21-W III',
    'M23 III',
    'M24 III',
    'M25 III',
    'M27-E III',
    'M27-W III',
    'M28 III',
    'M29-E III',
    'M29-W III',
    'M30 III',
    'M34 III',
    'M6 III',
    'M7 III',
    'M8 III',
    'M9-E III',
    'M9-W III',
    'P10-E III',
    'P10-W III',
    'P14-E III',
    'P14-W III',
    'P16 III',
    'P20 III',
    'P24 III',
    'P4 III',
    'P6-E III',
    'P6-W III',
    'P8-E III',
    'P8-W III',
    'R10-E III',
    'R10-W III',
    'R11-E III',
    'R11-W III',
    'R13-E III',
    'R13-W III',
    'R15-E III',
    'R15-W III',
    'R17 III',
    'R3 III',
    'R5 III',
    'R7-E III',
    'R7-W III',
    'Y3 III',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT III'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-red') }}
{% endfor %}
STYLE:SOLID:2
COLOR:layout-holdingpoint-red
{% for desig in [
    'M2',
    'S40',
    'T2',
    'T4',
    'T6',
    'T8',
    'U2',
    'U4',
    'U6',
    'U8',
    'W10',
    'W2',
    'W4',
    'W6',
    'W8',
    'Y10',
    'Y12',
    'Y2',
    'Y4',
    'Y6',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I L'][ desig | string ] | to_line(desig) }}
{% endfor %}
COLOR:layout-holdingpoint-grey
{% for desig in [
    'L',
    'M',
    'N',
    'N-South',
    'S',
    'W1',
    'W3',
    'W9',
    'Y5',
    'Y9',
] %}
{{- data.eddf_layout['layout']['Holding Points']['CAT I L'][ desig | string ] | to_line(desig) }}
{% endfor %}

MAP:Stopbars
AIRPORT:EDDF
FOLDER:Holding Points
ACTIVE:1
{% for desig in [
    'DP2-W',
    'P1-DP1',
    'P1-N11',
    'R-R11',
    'R-R15',
    'R-S10',
    'R-S4',
    'R-S7',
    'S11-S',
    'S4-S',
    'S5-S',
    'S6-S',
    'S7-S',
    'S8-S',
    'S9-S',
    'S-S11',
    'S-S5',
    'S-S8',
    'U-S',
    'Y5-S',
    'Y5-Y7',
    'Y7-Y5',
] %}
{{- data.eddf_layout['layout']['Holding Points']['Stopbars'][ desig | string ] | to_multipoly(desig, 'layout-holdingpoint-grey') }}
{% endfor %}

MAP:All Stopbars
AIRPORT:EDDF
FOLDER:Holding Points
COLOR:layout-holdingpoint
{% for id, geom in data.eddf['TaxiwayMarking'].items() if geom.marking_location == 'TWY_INT' and not id in [
    '0bef92fd-1e3a-4adc-a36a-d890c0cfe448',
    '1295bc5d-eab0-4d5b-aa31-f8aad86ceeb1',
    '4692f23c-1503-497c-a504-494a1e11851e',
    '481334c3-df73-4b1c-91c1-313b5e443fc2',
    '49ae18a2-3651-41a9-bfff-b4fa4f87bbc6',
    '49c00231-7887-48c6-b659-e941b151653f',
    '52ee6414-d249-4743-b09d-5a269d7220b6',
    '61c20800-988c-4af9-aa9b-2bb8c1c9a9db',
    '6a886745-a9c9-4850-8235-51e3859e6845',
    '70d816d1-d16e-40e9-a99f-7bc737c746ef',
    '827c8f50-05a9-4b73-a6c6-cb6cf8fb1fb5',
    'a55a2920-805d-48c1-8c02-0c698485dd09',
    'aee545c5-1e34-4430-a3a2-2ae767f20243',
    'b314a198-b0d0-4475-a009-3b21ca75677c',
    'b47b6b3a-8fed-4b2a-bc1a-d8401924d9f3',
    'bfd4d700-0b6e-4e80-bcec-89ab637b26cd',
    'd0a250ac-0945-45ff-bcc9-fbc94d9993cd',
    'e07362df-4a7a-423a-a277-f6c212915369',
    'e8943f76-0261-436f-92b7-e5585f871ec7',
    'ea44b079-10bb-4380-b46c-24ff6ddfb473',
    'ec4e99b4-a1bf-45d5-8b78-72d44ebb5239',
    '1c13d045-3f14-42e3-ae45-152c1f82bbd2',
    '21b573ae-e2c6-4157-8fea-64a62702da91',
    '57b184c9-74f5-446b-8a86-f29faf298943',
    '6bc4d348-ab24-4848-bd95-1842afe37b73',
    '7d60b4c6-f941-4dfa-8334-2876e0d2974a',
    '9aada105-518f-432c-b942-b29fb168746d',
    'adbfd2de-db30-4d71-a359-cddb30d673d1',
    'd9fcacce-bcea-4779-85d6-1d6c9a2f7bf7',
    'dfc62b3b-dedf-42db-8ece-f7b7a2b213e3',
] %}
    {{- geom | to_line(id) -}}
{% endfor %}