{#
// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDDF
FOLDER:LVP
ACTIVE:LVP:EDDF:1
COLOR:lvp-marking
STYLE:SOLID:2
// LOC
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, 0.01) }}
#}
// ------------------------- LVP Areas (Real) -----------------------

MAP:Heavy  25L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['25L Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['25L Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['25L Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}

MAP:       25C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['25C Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['25C Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['25C Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}

MAP:       25R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['25R Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['25R Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['25R Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, 0.01) }}

MAP:       07R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['07R Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['07R Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['07R Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}

MAP:       07C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['07C Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['07C Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['07C Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}

MAP:       07L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['H']['07L Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['H']['07L Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['H']['07L Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, 0.01) }}

MAP:Super  25L
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['J']['25L Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['J']['25L Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['J']['25L Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}

MAP:       25C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['J']['25C Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['J']['25C Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['J']['25C Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}

MAP:       07R
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['J']['07R Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['J']['07R Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['J']['07R Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}

MAP:       07C
AIRPORT:EDDF
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.eddf_layout['layout']['LVP']['J']['07C Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.eddf_layout['layout']['LVP']['J']['07C Sensitive'] | to_poly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.eddf_layout['layout']['LVP']['J']['07C Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}