// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDDF
FOLDER:LVP
ACTIVE:LVP:EDDF:1
COLOR:lvp-marking
STYLE:SOLID:2
// LOC
{{ loc_tick(runways.EDDF['25L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25L'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07R'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25C'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07C'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['25R'], 0, 0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, -0.01) }}
{{ loc_tick(runways.EDDF['07L'], 0, 0.01) }}