// ------------------------------- AoR ------------------------------

MAP:EDDF_C_GND  25
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGC25'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFGC_'] | to_text('DFGC 121.855') }}

MAP:            07
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGC07'] | to_line('') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-a
{{ data.eddf_layout['layout']['AoR']['DFGC_'] | to_text('DFGC 121.855') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area_'] | to_text('MIXED AREA') }}

MAP:EDDF_E_GND  25
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-c
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGE25'] | to_multiline('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFGE_'] | to_text('DFGE 121.955') }}

MAP:            07
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-c
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGE07'] | to_multiline('') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-c
{{ data.eddf_layout['layout']['AoR']['DFGE_'] | to_text('DFGE 121.955') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area_'] | to_text('MIXED AREA') }}

MAP:EDDF_W_GND  25
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-b
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGW25'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFGW_'] | to_text('DFGW 121.755') }}

MAP:            07
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-b
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGW07'] | to_line('') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
COLOR:aor-gnd-b
{{ data.eddf_layout['layout']['AoR']['DFGW_'] | to_text('DFGW 121.755') }}
COLOR:layout-label-taxiway
{{ data.eddf_layout['layout']['AoR']['Mixed Area_'] | to_text('MIXED AREA') }}

MAP:EDDF_S_GND
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-e
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFGS'] | to_multiline('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFGS#1_'] | to_text('DFGS 121.655') }}
TEXTALIGN:LC
{{ data.eddf_layout['layout']['AoR']['DFGS#2_'] | to_text('DFGS 121.655') }}

MAP:EDDF_GND
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-gnd-d
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFG'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFG#1_'] | to_text('DFG  121.805') }}
TEXTALIGN:RC
{{ data.eddf_layout['layout']['AoR']['DFG#2_'] | to_text('DFG  121.805') }}

MAP:EDDF_C_TWR
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-twr-b
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFTC'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFTC_'] | to_text('DFTC 118.780') }}

MAP:EDDF_W_TWR
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-twr-c
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFTW'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
TEXTALIGN:LC
{{ data.eddf_layout['layout']['AoR']['DFTW_'] | to_text('DFTW 124.855') }}

MAP:EDDF_N_TWR
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-twr-c
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFTN'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFTN_'] | to_text('DFTN 136.500') }}

MAP:EDDF_S_TWR
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddf_layout['layout']['AoR']['DFTS'] | to_line('') }}
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFTS_'] | to_text('DFTS 119.905') }}

MAP:EDDF_N_DEP
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-app-a
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFD#1_'] | to_text('DFDN 120.155:0:10') }}
{{ data.eddf_layout['layout']['AoR']['DFD#2_'] | to_text('DFDN 120.155:0:10') }}

MAP:EDDF_S_DEP
AIRPORT:EDDF
FOLDER:AoR
COLOR:aor-app-b
ZOOM:300
FONTSIZE:=:13
{{ data.eddf_layout['layout']['AoR']['DFD#1_'] | to_text('DFDS 136.130:0:-10') }}
{{ data.eddf_layout['layout']['AoR']['DFD#2_'] | to_text('DFDS 136.130:0:-10') }}