// ------------------------------ RRS -------------------------------

MAP:RRS 25L
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF25L:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25L
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25L 2400'] | to_symbol('RRS') }}

MAP:RRS 07R
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF07R:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF07R
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07R 2400'] | to_symbol('RRS') }}

MAP:RRS 25C
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF25C:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF25C
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25C 2400'] | to_symbol('RRS') }}

MAP:RRS 07C
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF07C:DEP:*
ACTIVE:RWY:ARR:*:DEP:EDDF07C
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07C 2400'] | to_symbol('RRS') }}

MAP:RRS 25R
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF25R:DEP:*
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25R 2400'] | to_symbol('RRS') }}

MAP:RRS 07L
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:EDDF07L:DEP:*
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07L 2400'] | to_symbol('RRS') }}

MAP:RRS 18
AIRPORT:EDDF
FOLDER:RRS
ACTIVE:RWY:ARR:*:DEP:EDDF18
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['18 2400'] | to_symbol('RRS-18') }}

MAP:RRS 600/1500 25L
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25L 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['25L 1500'] | to_symbol('RRS') }}

MAP:RRS 600/1500 07R
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07R 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['07R 1500'] | to_symbol('RRS') }}

MAP:RRS 600/1500 25C
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25C 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['25C 1500'] | to_symbol('RRS') }}

MAP:RRS 600/1500 07C
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07C 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['07C 1500'] | to_symbol('RRS') }}

MAP:RRS 600/1500 25R
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['25R 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['25R 1500'] | to_symbol('RRS') }}

MAP:RRS 600/1500 07L
AIRPORT:EDDF
FOLDER:RRS
COLOR:rrs-marker
{{ data.eddf_layout['layout']['RRS']['07L 600'] | to_symbol('RRS') }}
{{ data.eddf_layout['layout']['RRS']['07L 1500'] | to_symbol('RRS') }}