// ------------------------- Runway Crossing ------------------------
{% set default = 0.000005 %}
MAP:25
AIRPORT:EDDF
FOLDER:Runway Crossing

// T
COLOR:restrictions-F
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['T'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['T='] | to_poly('', 'restrictions-F') }}
{{ data.eddf_layout['layout']['Holding Points']['CAT I P']['T2'] | to_poly('', 'layout-holdingpoint') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf_layout['layout']['Holding Points']['CAT I L']['T2'] | to_line('') }}

// M8
COLOR:restrictions-D
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['M8 25'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['M8 25='] | to_poly('', 'restrictions-D') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf['TaxiwayMarking']['7233e590-7fc6-dc2b-e053-b4472c0a9450'] | to_line('') }}

// M30
COLOR:restrictions-E
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['M30'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['M30='] | to_poly('', 'restrictions-E') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf['TaxiwayMarking']['61f3b1e6-5ffb-4693-bf3f-8de116c4ef99'] | to_line('') }}

// Y
COLOR:restrictions-AB
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['Y'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['Y='] | to_poly('', 'restrictions-AB') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf['TaxiwayMarking']['05091d27-5df6-4f84-9c3b-af410b6d525d'] | to_line('') }}

// Stands

COLOR:restrictions-F
{% for desig in [
    'D1',
    'D4',
    'E2',
    'E5',
    'E6',
    'E9',
    'V94',
    'V95',
    'V96',
    'V97',
    'V106',
    'V107',
    'V108',
    'V109',
    'V110',
    'V111',
    'V112',
    'V113',
    'V114',
    'V115',
    'V116',
    'V117',
    'V118',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'D1A',
    'D4A',
    'D4B',
    'E2A',
    'E2B',
    'E5A',
    'E5B',
    'E6A',
    'E9A',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

COLOR:restrictions-D
{% for desig in [
    'B23',
    'B27',
    'B28',
    'B41',
    'B42',
    'B43',
    'B44',
    'B45',
    'B46',
    'B47',
    'B48',
    'C2',
    'C4',
    'C5',
    'C6',
    'C8',
    'C11',
    'C13',
    'C14',
    'C15',
    'C16',
    'D5',
    'D8',
    'V120',
    'V122',
    'V124',
    'V127',
    'V129',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'C15A',
    'C15B',
    'C16A',
    'C16B',
    'D5A',
    'D8A',
    'V119',
    'V121',
    'V123',
    'V125',
    'V126',
    'V128',
    'V130',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

COLOR:restrictions-E
{% for desig in [
    'A1',
    'A11',
    'A13',
    'A14',
    'A15',
    'A16',
    'A17',
    'A18',
    'A19',
    'A20',
    'A21',
    'A22',
    'A23',
    'A24',
    'A25',
    'A26',
    'A28',
    'A30',
    'A34',
    'A36',
    'A38',
    'A40',
    'A50',
    'A52',
    'A54',
    'A58',
    'A62',
    'A66',
    'A69',
    'B10',
    'B20',
    'B22',
    'B24',
    'B25',
    'B26',
    'F213',
    'F214',
    'F215',
    'F216',
    'F222',
    'F224',
    'V135',
    'V143',
    'V144',
    'V152',
    'V157',
    'V159',
    'V161',
    'V163',
    'V164',
    'V166',
    'V167',
    'V168',
    'V169',
    'V170',
    'V171',
    'V172',
    'V173',
    'V174',
    'V175',
    'V176',
    'V177',
    'V178',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'A54A',
    'A54B',
    'A58A',
    'A58B',
    'A62A',
    'A62B',
    'A66A',
    'A66B',
    'F221',
    'F223',
    'F225',
    'V134',
    'V136',
    'V151',
    'V153',
    'V158',
    'V160',
    'V162',
    'V171A',
    'V171B',
    'V173A',
    'V173B',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

COLOR:restrictions-AB
{% for desig in [
    'F231',
    'F232',
    'F233',
    'F234',
    'F235',
    'F237',
    'F238',
    'V266',
    'V267',
    'V268',
    'V269',
    'V270',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in ['F232A', 'F233A'] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

MAP:07
AIRPORT:EDDF
FOLDER:Runway Crossing

// T
COLOR:restrictions-F
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['T'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['T='] | to_poly('', 'restrictions-F') }}
{{ data.eddf_layout['layout']['Holding Points']['CAT I P']['T2'] | to_poly('', 'layout-holdingpoint') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf_layout['layout']['Holding Points']['CAT I L']['T2'] | to_line('') }}

// M6
COLOR:restrictions-D
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['M6'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['M6='] | to_poly('', 'restrictions-D') }}
{{ data.eddf_layout['layout']['Holding Points']['CAT III']['L1 III'] | to_poly('', 'layout-holdingpoint') }}

// M8
COLOR:restrictions-E
STYLE:SOLID:3
{{ data.eddf_layout['layout']['Runway Crossing']['M8 07'] | to_line('') }}
STYLE:SOLID:1
{{ data.eddf_layout['layout']['Runway Crossing']['M8 07='] | to_poly('', 'restrictions-E') }}
STYLE:SOLID:2
COLOR:layout-holdingpoint
{{ data.eddf['TaxiwayMarking']['5627e7e0-c30d-7c0d-e053-b3472c0a22ab'] | to_line('') }}

// Stands

COLOR:restrictions-F
{% for desig in [
    'D1',
    'D4',
    'E2',
    'E5',
    'E6',
    'E9',
    'V94',
    'V95',
    'V96',
    'V97',
    'V106',
    'V107',
    'V108',
    'V109',
    'V110',
    'V111',
    'V112',
    'V113',
    'V114',
    'V115',
    'V116',
    'V117',
    'V118',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'D1A',
    'D4A',
    'D4B',
    'E2A',
    'E2B',
    'E5A',
    'E5B',
    'E6A',
    'E9A',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

COLOR:restrictions-D
{% for desig in [
    'B23',
    'B27',
    'B28',
    'B41',
    'B42',
    'B43',
    'B44',
    'B45',
    'B46',
    'B47',
    'B48',
    'C2',
    'C4',
    'C5',
    'C6',
    'C8',
    'C11',
    'C13',
    'C14',
    'C15',
    'C16',
    'D5',
    'D8',
    'V120',
    'V122',
    'V124',
    'V127',
    'V129',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'C15A',
    'C15B',
    'C16A',
    'C16B',
    'D5A',
    'D8A',
    'V119',
    'V121',
    'V123',
    'V125',
    'V126',
    'V128',
    'V130',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}

COLOR:restrictions-E
{% for desig in [
    'A1',
    'A11',
    'A13',
    'A14',
    'A15',
    'A16',
    'A17',
    'A18',
    'A19',
    'A20',
    'A21',
    'A22',
    'A23',
    'A24',
    'A25',
    'A26',
    'A28',
    'A30',
    'A34',
    'A36',
    'A38',
    'A40',
    'A50',
    'A52',
    'A54',
    'A58',
    'A62',
    'A66',
    'A69',
    'B10',
    'B20',
    'B22',
    'B24',
    'B25',
    'B26',
    'F213',
    'F214',
    'F215',
    'F216',
    'F222',
    'F224',
    'F231',
    'F232',
    'F233',
    'F234',
    'F235',
    'F237',
    'F238',
    'V135',
    'V143',
    'V144',
    'V152',
    'V157',
    'V159',
    'V161',
    'V163',
    'V164',
    'V166',
    'V167',
    'V168',
    'V169',
    'V170',
    'V171',
    'V172',
    'V173',
    'V174',
    'V175',
    'V176',
    'V177',
    'V178',
    'V266',
    'V267',
    'V268',
    'V269',
    'V270',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
{% for desig in [
    'A54A',
    'A54B',
    'A58A',
    'A58B',
    'A62A',
    'A62B',
    'A66A',
    'A66B',
    'F221',
    'F223',
    'F225',
    'F232A',
    'F233A',
    'V134',
    'V136',
    'V151',
    'V153',
    'V158',
    'V160',
    'V162',
    'V171A',
    'V171B',
    'V173A',
    'V173B',
] %}
{{- data.eddf_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND_S') }}
{% endfor %}