// ------------------------- NOTAM Closures -------------------------

MAP:NOTAM A4758/24 - TWY W, W9
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:240913:241209:0:1200:0800
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.eddf_notam['notam']['W'] | to_poly('','closure') }}

MAP:NOTAM A4364/24 - TWY DP2
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:240819:241112:0:1200:0600
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.eddf_notam['notam']['DP2'] | to_poly('','closure') }}

MAP:NOTAM A5213/24 - TWY L9
AIRPORT:EDDF
FOLDER:Closures
ACTIVE:241007:241216:0:1100:0800
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.eddf_notam['notam']['L9'] | to_poly('','closure') }}
