// ------------------------------ LVP -------------------------------
MAP:LVP
AIRPORT:EDLW
FOLDER:LVP
ACTIVE:LVP:EDLW:1
COLOR:lvp-marking
STYLE:SOLID:2
{{ loc_tick(runways.EDLW['24'], 0, -0.01) }}
{{ loc_tick(runways.EDLW['24'], 0, 0.01) }}
{{ loc_tick(runways.EDLW['06'], 0, 0.01) }}
{{ loc_tick(runways.EDLW['06'], 0, -0.01) }}