// ------------------------------- AoR ------------------------------
MAP:EDLW_GND
AIRPORT:EDLW
FOLDER:AoR
COLOR:aor-gnd
STYLE:Dot
{{ data.edlw_layout['layout']['AoR']['LWG'] | to_line('LWG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_layout['layout']['AoR']['LWG_'] | to_text('LWG  121.830') }}

MAP:EDLW_TWR
AIRPORT:EDLW
FOLDER:AoR
COLOR:aor-twr
STYLE:Dot
{{ data.edlw_layout['layout']['AoR']['LWT'] | to_line('LWT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_layout['layout']['AoR']['LWT_'] | to_text('LWT  134.180') }}

MAP:EDLP_PAL_APP
AIRPORT:EDLW
FOLDER:AoR
COLOR:aor-app
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_layout['layout']['AoR']['PADL_'] | to_text('PADL 125.225') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDLW
FOLDER:AoR
COLOR:aor-app
ZOOM:400
FONTSIZE:=:13
{{ data.edlw_layout['layout']['AoR']['PADL_'] | to_text('PADH 135.650') }}