// -------------------------- Runway Info ---------------------------

MAP:TORA 24
AIRPORT:EDLW
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.edlw_layout['layout']['TORA']['24 D'] | to_text('2000') }}
{{ data.edlw_layout['layout']['TORA']['24 C'] | to_text('1700') }}

MAP:TORA 06
AIRPORT:EDLW
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.edlw_layout['layout']['TORA']['06 A'] | to_text('2000') }}
{{ data.edlw_layout['layout']['TORA']['06 B'] | to_text('1700') }}

MAP:Runway Markings
AIRPORT:EDLW
FOLDER:Runway Info
{% for marking, geom in data.edlw['RunwayMarking'].items() %}
{{ geom | to_poly(marking, 'layout-runway-marking') }}
{% endfor %}