// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDLW
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1
// B
RESTRICTION:MAXWEIGHT:20000
{{ data.edlw_layout['layout']['Restrictions']['B'] | to_poly('') }}
// L, K
RESTRICTION:MAXCODE:C
{{ data.edlw_layout['layout']['Restrictions']['L K'] | to_poly('') }}