// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDDG
FOLDER:Holding Points
ACTIVE:LVP:EDDG:0
{% for holdingpoint in ['A I', 'B I', 'C I', 'Glider I'] %}
{{- data.eddg_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
{% for holdingpoint in ['A III', 'B III', 'Glider III'] %}
{{- data.eddg_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint-grey') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['A I', 'B I', 'C I', 'Glider I'] %}
{{- data.eddg_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDDG
FOLDER:Holding Points
ACTIVE:LVP:EDDG:1
COLOR:layout-holdingpoint
{% for holdingpoint in ['A III', 'B III', 'C I', 'Glider III'] %}
{{- data.eddg_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['C I'] %}
{{- data.eddg_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Apron Stopbars
AIRPORT:EDDG
FOLDER:Holding Points
COLOR:layout-holdingpoint
{{ data.eddg_layout['layout']['Holding Points']['L']['Apron'] | to_multiline('') }}