// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDDG
FOLDER:LVP
ACTIVE:LVP:EDDG:1
COLOR:lvp-marking
STYLE:SOLID:2
{{ loc_tick(runways.EDDG['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDG['25'], 0, 0.01) }}
{{ loc_tick(runways.EDDG['07'], 0, 0.01) }}
{{ loc_tick(runways.EDDG['07'], 0, -0.01) }}