// -------------------------- Runway Info ---------------------------

MAP:TORA 25
AIRPORT:EDDG
FOLDER:Runway Info
COLOR:tora-label
ZOOM:600
TEXTALIGN:RC
{{ data.eddg_layout['layout']['TORA']['25 A'] | to_text('2170') }}
{{ data.eddg_layout['layout']['TORA']['25 C'] | to_text('900') }}

MAP:TORA 07
AIRPORT:EDDG
FOLDER:Runway Info
COLOR:tora-label
ZOOM:600
TEXTALIGN:LC
{{ data.eddg_layout['layout']['TORA']['07 B'] | to_text('2170') }}
{{ data.eddg_layout['layout']['TORA']['07 C'] | to_text('1290') }}

MAP:Runway Designators
AIRPORT:EDDG
FOLDER:Runway Info
ACTIVE:1
{{ data.eddg_layout['layout']['Markings']['25'] | to_multipoly('25', 'layout-runway-marking') }}
{{ data.eddg_layout['layout']['Markings']['07'] | to_multipoly('07', 'layout-runway-marking') }}

MAP:Runway Markings
AIRPORT:EDDG
FOLDER:Runway Info
{{ data.eddg_layout['layout']['Markings']['Runway Marking'] | to_multipoly('', 'layout-runway-marking') }}