// ----------------------- Permament Closures -----------------------

MAP:Apron
AIRPORT:EDDG
FOLDER:Closures
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{{ data.eddg_layout['layout']['Closures']['Apron'] | to_symbol('CROSS') }}