// ------------------------------------------------------------------
//                                 EDSB
// ------------------------------------------------------------------

// ---------------------------- Perimeter ---------------------------
{% set default = 0.000005 %}
MAP:Perimeter
AIRPORT:EDSB
FOLDER:Airport Layout
//ACTIVE:1
{{ data.edsb_layout['layout']['Base']['Base'] | to_poly('Base', 'layout-base') }}

// ---------------------------- Apron Area --------------------------

MAP:Apron Area
AIRPORT:EDSB
FOLDER:Airport Layout
ACTIVE:1
{% for id, geom in data.edsb['ApronElement'].items() %}
{{- geom | simplify(default) | to_poly(id,'layout-apron') }}
{% endfor %}

// --------------------------- Parking Area -------------------------

MAP:Parking Area
AIRPORT:EDSB
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.edsb_layout['layout']['Markings']['Parking'] | to_multiline('Parking Area') }}

// ------------------------------- Roads ----------------------------

MAP:Roads
AIRPORT:EDSB
FOLDER:Airport Layout
COLOR:layout-taxiway
{{ data.edsb_layout['layout']['Roads']['Roads'] | to_multiline('Roads') }}