// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDSB
FOLDER:Holding Points
ACTIVE:LVP:EDSB:0
{% for holdingpoint in ['A I', 'B I', 'C I', 'D I', 'E I', 'Q I'] %}
{{- data.edsb_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
{% for holdingpoint in ['A III', 'E III'] %}
{{- data.edsb_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint-grey') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['A I', 'B I', 'C I', 'D I', 'E I', 'Q I'] %}
{{- data.edsb_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDSB
FOLDER:Holding Points
ACTIVE:LVP:EDSB:1
{% for holdingpoint in ['A III', 'E III', 'B I', 'C I', 'D I', 'Q I'] %}
{{- data.edsb_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['B I', 'C I', 'D I', 'Q I'] %}
{{- data.edsb_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:All Stopbars
AIRPORT:EDSB
FOLDER:Holding Points
COLOR:layout-holdingpoint
{% for id, geom in data.edsb['TaxiwayMarking'].items() if geom.marking_location == 'TWY_INT' %}
    {{- geom | to_line(id) -}}
{% endfor %}