// ------------------------------- AoR ------------------------------

MAP:EDDR_GND
AIRPORT:EDDR
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddr_layout['layout']['AoR']['DRG'] | to_line('DRG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_layout['layout']['AoR']['DRG_'] | to_text('DRG  118.555') }}

MAP:EDDR_TWR
AIRPORT:EDDR
FOLDER:AoR
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddr_layout['layout']['AoR']['DRT'] | to_line('DRT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_layout['layout']['AoR']['DRT_'] | to_text('DRT  118.355') }}

MAP:EDDR_PFA_APP
AIRPORT:EDDR
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_layout['layout']['AoR']['DRT_'] | to_text('PFA  129.675:0:20') }}

MAP:EDGG_RUD_CTR
AIRPORT:EDDR
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_layout['layout']['AoR']['DRT_'] | to_text('RUD  133.435:0:20') }}

MAP:EDGG_GIN_CTR
AIRPORT:EDDR
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddr_layout['layout']['AoR']['DRT_'] | to_text('GIN  124.730:0:20') }}