// ----------------------------- LVP Areas --------------------------

MAP:Heavy  25
AIRPORT:EDDS
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.edds_layout['layout']['LVP']['H']['25 Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.edds_layout['layout']['LVP']['H']['25 Sensitive'] | to_multipoly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.edds_layout['layout']['LVP']['H']['25 Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['25'], 0, 0.01) }}

MAP:       07 
AIRPORT:EDDS
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.edds_layout['layout']['LVP']['H']['07 Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.edds_layout['layout']['LVP']['H']['07 Sensitive'] | to_multipoly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.edds_layout['layout']['LVP']['H']['07 Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['07'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['07'], 0, 0.01) }}

MAP:Super  25
AIRPORT:EDDS
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.edds_layout['layout']['LVP']['J']['25 Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.edds_layout['layout']['LVP']['J']['25 Sensitive'] | to_multipoly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.edds_layout['layout']['LVP']['J']['25 Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['25'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['25'], 0, 0.01) }}

MAP:       07 
AIRPORT:EDDS
FOLDER:LVP
COORDTYPE:OTHER:REGION:\
{{ data.edds_layout['layout']['LVP']['J']['07 Orthogonal'] | to_multipoly('Orthogonal', 'lvp-orthogonal') }}
{{ data.edds_layout['layout']['LVP']['J']['07 Sensitive'] | to_multipoly('SENSITIVE', 'lvp-sensitive') }}
STYLE:SOLID:2
{{ data.edds_layout['layout']['LVP']['J']['07 Critical'] | to_multipoly('CRITICAL', 'lvp-critical') }}

// LOC
STYLE:SOLID:2
COLOR:lvp-marking
{{ loc_tick(runways.EDDS['07'], 0, -0.01) }}
{{ loc_tick(runways.EDDS['07'], 0, 0.01) }}