// ------------------------------- AoR ------------------------------

MAP:EDDS_GND
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.edds_layout['layout']['AoR']['DSG'] | to_line('DSG') }}
ZOOM:400
FONTSIZE:=:13
TEXTALIGN:RC
{{ data.edds_layout['layout']['AoR']['DSG_'] | to_text('DSG  118.605') }}

MAP:EDDS_TWR
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-twr-a
STYLE:Dot
{{ data.edds_layout['layout']['AoR']['DST'] | to_line('DST') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edds_layout['layout']['AoR']['DST_'] | to_text('DST  118.805') }}

MAP:EDDS_STG_APP
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edds_layout['layout']['AoR']['DST_'] | to_text('STG  125.050:0:20') }}

MAP:EDDS_REU_APP
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-app-b
ZOOM:400
FONTSIZE:=:13
{{ data.edds_layout['layout']['AoR']['DST_'] | to_text('REU  119.200:0:40') }}

MAP:EDGG_BAD_CTR
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edds_layout['layout']['AoR']['DST_'] | to_text('BAD  131.300:0:20') }}

MAP:EDGG_DKB_CTR
AIRPORT:EDDS
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edds_layout['layout']['AoR']['DST_'] | to_text('DKB  125.200:0:20') }}