// ----------------------------- Labels -----------------------------

MAP:Taxiways
AIRPORT:EDDS
FOLDER:Labels
ACTIVE:1
ZOOM:400
{{ data.edds_layout['layout']['Labels']['Buffer'] | to_multipoly('', 'layout-taxiway') }}
FONTSIZE:=:10
COLOR:layout-label-yellow
{% for desig, geom in data.edds_layout['layout']['Labels']['Taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}
TEXTALIGN:LC
{{ data.edds_layout['layout']['Labels']['Exit 3'] | to_text('Exit 3') }}

MAP:Stands
AIRPORT:EDDS
FOLDER:Labels
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-yellow
{% for desig, geom in data.edds_layout['layout']['Labels']['Stands'].items() if not desig in [
    '9A',
    '24',
    '26',
    '28',
    '71A',
    '74A',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}
{{- geom | to_text(desig) }}
{% endfor %}
ZOOM:1200
{% for desig in [
    '9A',
    '24',
    '26',
    '28',
    '71A',
    '74A',
    '200',
    '201',
    '202',
    '203',
    '204',
] %}
{{- data.edds_layout['layout']['Labels']['Stands'][desig | string] | to_text(desig) }}
{% endfor %}

MAP:Areas
AIRPORT:EDDS
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.edds_layout['layout']['Labels']['GAT'] | to_text('GAT') }}
{{ data.edds_layout['layout']['Labels']['Police'] | to_text('Police') }}
{{ data.edds_layout['layout']['Labels']['US Army'] | to_text('US Army') }}

MAP:Buildings
AIRPORT:EDDS
FOLDER:Labels
ZOOM:400
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig, geom in data.edds_layout['layout']['Labels']['Buildings'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}