// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDTL
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.edtl_layout['layout']['TORA']['21 H'] | to_text('3000') }}
{{ data.edtl_layout['layout']['TORA']['21 G'] | to_text('2727') }}
{{ data.edtl_layout['layout']['TORA']['21 F'] | to_text('1905') }}
{{ data.edtl_layout['layout']['TORA']['21 E'] | to_text('1098') }}


MAP:TORA 03
AIRPORT:EDTL
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.edtl_layout['layout']['TORA']['03 B C'] | to_text('3000') }}
{{ data.edtl_layout['layout']['TORA']['03 A D'] | to_text('2728') }}
{{ data.edtl_layout['layout']['TORA']['03 E'] | to_text('1915') }}
{{ data.edtl_layout['layout']['TORA']['03 F'] | to_text('1108') }}

MAP:Runway Designators
AIRPORT:EDTL
FOLDER:Runway Info
ACTIVE:1
{{ data.edtl_layout['layout']['Markings']['21'] | to_multipoly('21', 'layout-runway-marking') }}
{{ data.edtl_layout['layout']['Markings']['03'] | to_multipoly('03', 'layout-runway-marking') }}

MAP:Runway Markings
AIRPORT:EDTL
FOLDER:Runway Info
{{ data.edtl_layout['layout']['Markings']['Runway Marking 1'] | to_multipoly('', 'layout-runway-marking') }}
{{ data.edtl_layout['layout']['Markings']['Runway Marking 2'] | to_multipoly('', 'layout-runway') }}