// ------------------------------------------------------------------
//                                 EDLV
// ------------------------------------------------------------------

// ---------------------------- Perimeter ---------------------------
{% set default = 0.000005 %}
MAP:Perimeter
AIRPORT:EDLV
FOLDER:Airport Layout
//ACTIVE:1
{{ data.edlv_layout['layout']['Base']['Base'] | to_poly('Base', 'layout-base') }}

// ---------------------------- Apron Area --------------------------

MAP:Apron Area
AIRPORT:EDLV
FOLDER:Airport Layout
ACTIVE:1
{% for apron, geom in data.edlv_layout['layout']['Apron'].items() %}
{{- geom | simplify(default) | to_poly(apron,'layout-apron') }}
{% endfor %}
{{ data.edlv['ApronElement']['60ad4527-8fac-e1fa-e053-0100007f5781'] | to_poly('B', 'layout-apron') }}

// --------------------------- Parking Area -------------------------

MAP:Parking Area
AIRPORT:EDLV
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.edlv_layout['layout']['Markings']['Parking'] | to_multiline('Parking Area') }}

// ------------------------------- Roads ----------------------------

MAP:Roads
AIRPORT:EDLV
FOLDER:Airport Layout
COLOR:layout-taxiway
{{ data.edlv_layout['layout']['Roads']['Roads'] | to_multiline('Roads') }}