// ------------------------------- AoR ------------------------------

MAP:EDLV_TWR
AIRPORT:EDLV
FOLDER:AoR
COLOR:aor-twr-a
ZOOM:400
FONTSIZE:=:13
{{ data.edlv_layout['layout']['AoR']['LVT_'] | to_text('LVT  129.405') }}

MAP:EDDL_BOT_APP
AIRPORT:EDLV
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edlv_layout['layout']['AoR']['BOT_'] | to_text('BOT  119.110') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDLV
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edlv_layout['layout']['AoR']['BOT_'] | to_text('PADH 135.650') }}