// ----------------------- Permament Closures -----------------------

MAP:Helipad North
AIRPORT:EDLV
FOLDER:Closures
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{{ data.edlv_layout['layout']['Closures']['#1'] | to_symbol('CROSS_S') }}