// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDLV
FOLDER:Labels
ACTIVE:1
ZOOM:400
{{ data.edlv_layout['layout']['Labels']['Buffer'] | to_multipoly('', 'layout-taxiway') }}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for taxiway, geom in data.edlv_layout['layout']['Labels']['Taxiways'].items() %}
{{- geom | to_text(taxiway) }}
{% endfor %}

MAP:Stands
AIRPORT:EDLV
FOLDER:Labels
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for stand, geom in data.edlv_layout['layout']['Labels']['Stands'].items() %}
{{- geom | to_text(stand) }}
{% endfor %}