// ------------------------------ LVP -------------------------------
{% set default = 0.000005 %}
MAP:LVP Closures
AIRPORT:EDLV
FOLDER:LVP
ACTIVE:LVP:EDLV:1
COORDTYPE:TWYCLOSED:REGION
STYLE:Solid:2
{% for taxiway in ['8a1b', '8a1c', '8a1d', '8a1f', '8e4a', '8e4f', '916a', '916b', '9179'] %}
{{- data.edlv['TaxiwayElement']['60ad4527-' + taxiway + '-e1fa-e053-0100007f5781' | string] | simplify(default) | to_poly(taxiway, 'closure') }}
{% endfor %}
{{ data.edlv_layout['layout']['Restrictions']['B'] | simplify(default) | to_poly('B', 'closure') }}
{{ data.edlv_layout['layout']['Restrictions']['C'] | simplify(default) | to_poly('C', 'closure') }}

