// ------------------------------------------------------------------
//                                 EDFM
// ------------------------------------------------------------------

// -------------------------- Ground Layout -------------------------
{% set default = 0.000005 %}
MAP:Perimeter
AIRPORT:EDFM
FOLDER:Airport Layout
//ACTIVE:1
{{ data.edfm_layout['layout']['Base']['Base'] | to_poly('Base', 'layout-base') }}

MAP:Apron Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{{ data.edfm_layout['layout']['Apron']['Apron'] | to_multipoly('', 'layout-apron') }}

MAP:Parking Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.edfm_layout['layout']['Markings']['Parking'] | to_multiline('Parking Area') }}
STYLE:DOT:1
{{ data.edfm_layout['layout']['Markings']['Parking Area'] | to_line('Parking Area Grass') }}

MAP:Roads
AIRPORT:EDFM
FOLDER:Airport Layout
COLOR:layout-taxiway
{{ data.edfm_layout['layout']['Roads']['Roads'] | to_multiline('Roads') }}

MAP:Taxiway Movement Area
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{{ data.edfm_layout['layout']['Taxiways']['Taxiways'] | to_multipoly('', 'layout-taxiway') }}
COLOR:layout-taxiway
STYLE:DOT:1
{{ data.edfm_layout['layout']['Taxiways']['G'] | to_multiline('G') }}

MAP:Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{{ data.edfm_layout['layout']['Runways']['27/09'] | to_poly('Runway 27/09', 'layout-runway') }}

MAP:Grass Runway
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
STYLE:DOT:1
{{ data.edfm_layout['layout']['Runways']['Grass'] | to_line('Grass Runway') }}
ZOOM:400
FONTSIZE:=:11
COLOR:layout-label-stand
{{ data.edfm_layout['layout']['Runways']['Grass_'] | to_text('Grass Runway') }}

MAP:Leadin Lines
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-grey
{{ data.edfm_layout['layout']['Markings']['Leadin Lines'] | to_multiline('') }}

MAP:Taxi Lanes
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiline-yellow
{{ data.edfm_layout['layout']['Markings']['Taxilanes'] | to_multiline('') }}

MAP:Buildings
AIRPORT:EDFM
FOLDER:Airport Layout
ACTIVE:1
{{ data.edfm_layout['layout']['Buildings']['Buildings'] | to_multipoly('', 'layout-building') }}
COLOR:layout-building
{{ data.edfm_layout['layout']['Fence']['Fence'] | to_multiline('Fence') }}

