// ------------------------------- AoR ------------------------------

MAP:EDFM_TWR
AIRPORT:EDFM
FOLDER:AoR
COLOR:aor-twr-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_layout['layout']['AoR']['FMT_'] | to_text('FMT  129.780') }}

MAP:EDFM_NKL_APP
AIRPORT:EDFM
FOLDER:AoR
COLOR:aor-app-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_layout['layout']['AoR']['FMT_'] | to_text('NKL  129.355:0:20') }}

MAP:EDGG_BAD_CTR
AIRPORT:EDFM
FOLDER:AoR
COLOR:aor-app-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_layout['layout']['AoR']['FMT_'] | to_text('BAD  131.300:0:20') }}

MAP:EDGG_DKB_CTR
AIRPORT:EDFM
FOLDER:AoR
COLOR:aor-app-a
ZOOM:600
FONTSIZE:=:13
{{ data.edfm_layout['layout']['AoR']['FMT_'] | to_text('DKB  125.200:0:20') }}