// ------------------------------------------------------------------
//                                 EDDK
// ------------------------------------------------------------------

// ---------------------------- Perimeter ---------------------------
{% set default = 0.000005 %}
MAP:Perimeter
AIRPORT:EDDK
FOLDER:Airport Layout
//ACTIVE:1
{{ data.eddk_layout['layout']['Base']['Base'] | to_poly('Base', 'layout-base') }}

// ---------------------------- Apron Area --------------------------

MAP:Apron Area
AIRPORT:EDDK
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddk_layout['layout']['Apron']['Apron'] | to_multipoly('Apron','layout-apron') }}

// --------------------------- Parking Area -------------------------

MAP:Parking Area
AIRPORT:EDDK
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.eddk_layout['layout']['Markings']['Parking'] | simplify(default) | to_multiline('Parking Area') }}

// ------------------------------- Roads ----------------------------

MAP:Roads
AIRPORT:EDDK
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.eddk_layout['layout']['Roads']['Roads'] | simplify(default) | to_multiline('Roads') }}