// ------------------------- Holding Points -------------------------
{% set default = 0.000005 %}
MAP:Holding Points CAT I
AIRPORT:EDDK
FOLDER:Holding Points
ACTIVE:LVP:EDDK:0
{% for desig in ['06-31L/13R', '06-31R/13L', '24-31L/13R', 'A-24/06-E', 'A-24/06-W', 'A-31R/13L I', 'A1 I', 'A2 I', 'A3 I', 'A4 I', 'A5 I', 'A7 I', 'B-24/06', 'B-31L/13R-N', 'B-31L/13R-S', 'C-24/06', 'C-31L/13R', 'D-24', 'D-31R/13L I', 'E-24/06', 'T', 'T2', 'Z1'] %}
{{- data.eddk_layout['layout']['Holding Points']['P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
{% for desig in ['A III', 'A1 III', 'A2 III', 'A3 III', 'A4 III', 'A5 III', 'A7 III', 'D III'] %}
{{- data.eddk_layout['layout']['Holding Points']['P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint-grey') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig in ['06-31L/13R', '06-31R/13L', '24-31L/13R', 'A-24/06-E', 'A-24/06-W', 'A-31R/13L I', 'A1 I', 'A2 I', 'A3 I', 'A4 I', 'A5 I', 'A7 I', 'B-24/06', 'B-31L/13R-N', 'B-31L/13R-S', 'C-24/06', 'C-31L/13R', 'D-24', 'D-31R/13L I', 'E-24/06', 'T', 'T2', 'Z1'] %}
{{- data.eddk_layout['layout']['Holding Points']['L'][ desig | string ] | to_line(desig) }}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDDK
FOLDER:Holding Points
ACTIVE:LVP:EDDK:1
COLOR:layout-holdingpoint
{% for desig in ['06-31L/13R', '06-31R/13L', '24-31L/13R', 'A-24/06-E', 'A-24/06-W', 'B-24/06', 'B-31L/13R-N', 'B-31L/13R-S', 'C-24/06', 'C-31L/13R', 'D-24', 'E-24/06', 'T', 'T2', 'Z1'] %}
{{- data.eddk_layout['layout']['Holding Points']['P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
{% for desig in ['A III', 'A1 III', 'A2 III', 'A3 III', 'A4 III', 'A5 III', 'A7 III', 'D III'] %}
{{- data.eddk_layout['layout']['Holding Points']['P'][ desig | string ] | to_poly(desig, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for desig in ['06-31L/13R', '06-31R/13L', '24-31L/13R', 'A-24/06-E', 'A-24/06-W', 'B-24/06', 'B-31L/13R-N', 'B-31L/13R-S', 'C-24/06', 'C-31L/13R', 'D-24', 'E-24/06', 'T', 'T2', 'Z1'] %}
{{- data.eddk_layout['layout']['Holding Points']['L'][ desig | string ] | to_line(desig) }}
{% endfor %}

MAP:All Stopbars
AIRPORT:EDDK
FOLDER:Holding Points
COLOR:layout-holdingpoint
{{ data.eddk_layout['layout']['Holding Points']['Stopbars'] | to_multiline('') }}