// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDDK
FOLDER:LVP
ACTIVE:LVP:EDDK:1
COLOR:lvp-marking
STYLE:SOLID:2
// LOC
{{ loc_tick(runways.EDDK['31R'], 0, 0.01) }}
{{ loc_tick(runways.EDDK['31R'], 0, -0.01) }}
{{ loc_tick(runways.EDDK['13L'], 0, 0.01) }}
{{ loc_tick(runways.EDDK['13L'], 0, -0.01) }}
{{ loc_tick(runways.EDDK['24'], 0, 0.01) }}
{{ loc_tick(runways.EDDK['24'], 0, -0.01) }}