// ----------------------- Permament Closures -----------------------

MAP:Permament
AIRPORT:EDDK
FOLDER:Closures
ACTIVE:1
STYLE:Solid:2
COORDTYPE:TWYCLOSED:REGION
{{ data.eddk_layout['layout']['Closures']['Permament'] | to_multipoly('','closure') }}
STYLE:Solid:1
{{ data.eddk_layout['layout']['Closures']['X 1'] | to_multipoly('Cross','closure-symbol') }}
{{ data.eddk_layout['layout']['Closures']['X 2'] | to_multipoly('Cross','closure-symbol-yellow') }}