// ------------------------------- AoR ------------------------------

MAP:EDDK_GND
AIRPORT:EDDK
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.eddk_layout['layout']['AoR']['DKG'] | to_line('DKG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_layout['layout']['AoR']['DKG_'] | to_text('DKG  121.730') }}

MAP:EDDK_TWR
AIRPORT:EDDK
FOLDER:AoR
COLOR:aor-twr-a
STYLE:Dot
{{ data.eddk_layout['layout']['AoR']['DKT'] | to_line('DKT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_layout['layout']['AoR']['DKT_'] | to_text('DKT  124.980') }}

MAP:EDDK_APP
AIRPORT:EDDK
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_layout['layout']['AoR']['DKT_'] | to_text('DKA  135.350:0:-20') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDDK
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.eddk_layout['layout']['AoR']['DKT_'] | to_text('PADH 135.650:0:-20') }}