// -------------------------- Runway Info ---------------------------

MAP:TORA 31R
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_layout['layout']['TORA']['31R A'] | to_text('3815') }}
{{ data.eddk_layout['layout']['TORA']['31R A1'] | to_text('3586') }}
{{ data.eddk_layout['layout']['TORA']['31R A2'] | to_text('2562') }}
{{ data.eddk_layout['layout']['TORA']['31R A3'] | to_text('1781') }}

MAP:TORA 13L
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_layout['layout']['TORA']['13L A7'] | to_text('3815') }}
{{ data.eddk_layout['layout']['TORA']['13L A5'] | to_text('3587') }}
{{ data.eddk_layout['layout']['TORA']['13L A4'] | to_text('2743') }}
{{ data.eddk_layout['layout']['TORA']['13L A3'] | to_text('2121') }}

MAP:TORA 31L
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_layout['layout']['TORA']['31L C'] | to_text('1863') }}

MAP:TORA 13R
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:LC
{{ data.eddk_layout['layout']['TORA']['13R B'] | to_text('1863') }}
{{ data.eddk_layout['layout']['TORA']['13R T2'] | to_text('1354') }}

MAP:TORA 24
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_layout['layout']['TORA']['24 D'] | to_text('2459') }}
{{ data.eddk_layout['layout']['TORA']['24 E'] | to_text('1643') }}
{{ data.eddk_layout['layout']['TORA']['24 A'] | to_text('1526') }}

MAP:TORA 06
AIRPORT:EDDK
FOLDER:Runway Info
COLOR:tora-label
ZOOM:400
TEXTALIGN:RC
{{ data.eddk_layout['layout']['TORA']['06 B'] | to_text('2459') }}
{{ data.eddk_layout['layout']['TORA']['06 T'] | to_text('1625') }}

MAP:RRS 31R
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK31R
ACTIVE:RWY:ARR:EDDK31R:DEP:*
COLOR:rrs-marker
{{ data.eddk_layout['layout']['RRS']['31R 600'] | to_symbol('RRS') }}
{{ data.eddk_layout['layout']['RRS']['31R 1500'] | to_symbol('RRS') }}
{{ data.eddk_layout['layout']['RRS']['31R 2400'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_layout['layout']['RRS']['31R 600'] | to_text('600:0:-10') }}
{{ data.eddk_layout['layout']['RRS']['31R 1500'] | to_text('1500:0:-10') }}
{{ data.eddk_layout['layout']['RRS']['31R 2400'] | to_text('2400:0:-10') }}

MAP:RRS 13L
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:RWY:ARR:*:DEP:EDDK13L
ACTIVE:RWY:ARR:EDDK13L:DEP:*
COLOR:rrs-marker
{{ data.eddk_layout['layout']['RRS']['13L 600'] | to_symbol('RRS') }}
{{ data.eddk_layout['layout']['RRS']['13L 1500'] | to_symbol('RRS') }}
{{ data.eddk_layout['layout']['RRS']['13L 2400'] | to_symbol('RRS') }}
FONTSIZE:=:12
ZOOM:400
TEXTALIGN:CB
{{ data.eddk_layout['layout']['RRS']['13L 600'] | to_text('600:0:-10') }}
{{ data.eddk_layout['layout']['RRS']['13L 1500'] | to_text('1500:0:-10') }}
{{ data.eddk_layout['layout']['RRS']['13L 2400'] | to_text('2400:0:-10') }}

MAP:Runway Designators
AIRPORT:EDDK
FOLDER:Runway Info
ACTIVE:1
{{ data.eddk_layout['layout']['Markings']['Runways']['31R'] | to_multipoly('31R', 'layout-runway-marking') }}
{{ data.eddk_layout['layout']['Markings']['Runways']['13L'] | to_multipoly('13L', 'layout-runway-marking') }}
{{ data.eddk_layout['layout']['Markings']['Runways']['31L'] | to_multipoly('31L', 'layout-runway-marking') }}
{{ data.eddk_layout['layout']['Markings']['Runways']['13R'] | to_multipoly('13R', 'layout-runway-marking') }}
{{ data.eddk_layout['layout']['Markings']['Runways']['24'] | to_multipoly('24', 'layout-runway-marking') }}
{{ data.eddk_layout['layout']['Markings']['Runways']['06'] | to_multipoly('06', 'layout-runway-marking') }}

MAP:Runway Markings
AIRPORT:EDDK
FOLDER:Runway Info
{% for marking, geom in data.eddk['RunwayMarking'].items() %}
{{- geom | to_poly(marking, 'layout-runway-marking') }}
{% endfor %}