// ------------------------ Runway Crossing -------------------------

MAP:31R/13L
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_layout['layout']['Runways']['31R/13L'] | to_poly('') }}

MAP:31L/13R
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_layout['layout']['Runways']['31L/13R'] | to_poly('') }}

MAP:24/06
AIRPORT:EDDK
FOLDER:Runway Crossing
COLOR:closure-symbol-yellow
COORDTYPE:OTHER:POLYGON
STYLE:Solid:2
{{ data.eddk_layout['layout']['Runways']['24/06'] | to_poly('') }}