// ----------------------------- Labels -----------------------------

MAP:Taxiways
AIRPORT:EDDK
FOLDER:Labels
ACTIVE:1
ZOOM:400
{{ data.eddk_layout['layout']['Labels']['Buffer T'] | to_multipoly('', 'layout-taxiway') }}
{{ data.eddk_layout['layout']['Labels']['Buffer A'] | to_multipoly('', 'layout-apron') }}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.eddk_layout['layout']['Labels']['Taxiways'].items() if desig != 'K1' %}
{{- geom | to_text(desig) }}
{% endfor %}
TEXTALIGN:RC
{{ data.eddk_layout['layout']['Labels']['Taxiways']['K1'] | to_text('K1') }}

MAP:Areas
AIRPORT:EDDK
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.eddk_layout['layout']['Labels']['GAT'] | to_text('GAT:0:-15') }}
{{ data.eddk_layout['layout']['Labels']['BMI'] | to_text('BMI Heli') }}
{{ data.eddk_layout['layout']['Labels']['Bundeswehr#1'] | to_text('Bundeswehr') }}
{{ data.eddk_layout['layout']['Labels']['Bundeswehr#2'] | to_text('Bundeswehr') }}
{{ data.eddk_layout['layout']['Labels']['Maintenance'] | to_text('Maintenance') }}

MAP:Aprons
AIRPORT:EDDK
FOLDER:Labels
ZOOM:400
FONTSIZE:=:10
COLOR:layout-label-stand
{{ data.eddk_layout['layout']['Labels']['GAT'] | to_text('           /Apron V:0:-15') }}
{{ data.eddk_layout['layout']['Labels']['Bundeswehr#1'] | to_text('Apron 2:0:10') }}
{{ data.eddk_layout['layout']['Labels']['Bundeswehr#2'] | to_text('Apron Z:0:10') }}
{{ data.eddk_layout['layout']['Labels']['Maintenance'] | to_text('Apron U:0:10') }}
{{ data.eddk_layout['layout']['Labels']['Apron A'] | to_text('Apron A') }}
{{ data.eddk_layout['layout']['Labels']['Apron B'] | to_text('Apron B') }}
{{ data.eddk_layout['layout']['Labels']['Apron C'] | to_text('Apron C') }}
{{ data.eddk_layout['layout']['Labels']['Apron D'] | to_text('Apron D') }}
{{ data.eddk_layout['layout']['Labels']['Apron E'] | to_text('Apron E') }}
{{ data.eddk_layout['layout']['Labels']['Apron F'] | to_text('Apron F') }}
{{ data.eddk_layout['layout']['Labels']['Apron W'] | to_text('Apron W') }}