// ------------------------------- AoR ------------------------------

MAP:Non-movement Area
AIRPORT:EDLN
FOLDER:AoR
ACTIVE:1
COLOR:layout-taxiline-grey
STYLE:Dot
{{ data.edln_layout['layout']['AoR']['Area'][''] | to_line('Non-movement Area') }}

MAP:EDLN_GND
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-gnd
STYLE:Dot
{{ data.edln_layout['layout']['AoR']['LNG'][''] | to_line('LWG') }}
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNG_'] | to_text('LNG  121.930') }}

MAP:EDLN_TWR
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-twr
STYLE:Dot
{{ data.edln_layout['layout']['AoR']['LNT'][''] | to_line('LNT') }}
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNT_'] | to_text('LNT  120.455') }}

MAP:EDDL_APP
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-app
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNT_'] | to_text('DLA  128.555:0:-20') }}

MAP:EDDL_DEP
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-app
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNT_'] | to_text('DLD  121.355:0:-20') }}

MAP:EDDL_F_APP
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-app
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNT_'] | to_text('DLAT 128.655:0:-20') }}

MAP:EDGG_PAH_CTR
AIRPORT:EDLN
FOLDER:AoR
COLOR:aor-app
ZOOM:600
FONTSIZE:=:13
{{ data.edln_layout['layout']['AoR']['LNT_'] | to_text('PADH 135.650:0:-20') }}