// -------------------------- Runway Info ---------------------------

MAP:TORA 31
AIRPORT:EDLN
FOLDER:Runway Info
COLOR:tora-label
ZOOM:700
TEXTALIGN:RC
{{ data.edln_layout['layout']['TORA']['31 A'] | to_text('1200') }}
{{ data.edln_layout['layout']['TORA']['31 D'] | to_text('800') }}

MAP:TORA 13
AIRPORT:EDLN
FOLDER:Runway Info
COLOR:tora-label
ZOOM:700
TEXTALIGN:LC
{{ data.edln_layout['layout']['TORA']['13 B F'] | to_text('1200') }}
{{ data.edln_layout['layout']['TORA']['13 C'] | to_text('800') }}

MAP:Runway Markings
AIRPORT:EDLN
FOLDER:Runway Info
{% for marking, geom in data.edln['RunwayMarking'].items() if not marking in [
    '4682806b-ed29-c6ff-e053-1514a8c027b7',
    '4682806b-ed2a-c6ff-e053-1514a8c027b7',
    '4682806b-ed2b-c6ff-e053-1514a8c027b7',
    '4682806b-ed2c-c6ff-e053-1514a8c027b7',
    '4682806b-ed2d-c6ff-e053-1514a8c027b7',
    '4682806b-ed2e-c6ff-e053-1514a8c027b7',
    '4682806b-ed2f-c6ff-e053-1514a8c027b7',
    '4682806b-ed30-c6ff-e053-1514a8c027b7',
    '4682806b-ed31-c6ff-e053-1514a8c027b7',
    '4682806b-ed32-c6ff-e053-1514a8c027b7',
    '4682806b-ed33-c6ff-e053-1514a8c027b7',
    '4682806b-ed34-c6ff-e053-1514a8c027b7',
    '4682806b-ed39-c6ff-e053-1514a8c027b7',
    '4682806b-ed3a-c6ff-e053-1514a8c027b7',
    '4682806b-ed3b-c6ff-e053-1514a8c027b7',
    '4682806b-ed3c-c6ff-e053-1514a8c027b7',
    '4682806b-ed3d-c6ff-e053-1514a8c027b7',
    '4682806b-ed3e-c6ff-e053-1514a8c027b7'] %}
{{ geom | to_poly(marking, 'layout-runway-marking') }}
{% endfor %}
{% for marking in ['ed29', 'ed2a', 'ed2b', 'ed2c', 'ed2d', 'ed2e', 'ed2f', 'ed30', 'ed31', 'ed32', 'ed33', 'ed34'] %}
{{- data.edln['RunwayMarking']['4682806b-' + marking + '-c6ff-e053-1514a8c027b7' | string] | to_poly(marking, 'layout-taxiline-yellow') }}
{% endfor %}
{% for marking in ['f1cd', 'f1ce', 'f1cf', 'f1d1', 'f1d2', 'f1d3', 'f1d4', 'f1d5', 'f1d6', 'f1d7', 'f1d8', 'f1d9', 'f1da', 'f1db', 'f1dc', 'f1dd', 'f1de', 'f1df', 'f1e0', 'f1e1', 'f1e2', 'f1e3', 'f1d0'] %}
{{- data.edln['TaxiwayMarking']['4682806b-' + marking + '-c6ff-e053-1514a8c027b7' | string] | to_poly(marking, 'layout-runway-marking') }}
{% endfor %}