// ----------------------- Permament Closures -----------------------

MAP:E
AIRPORT:EDLN
FOLDER:Closures
COORDTYPE:TWYCLOSED:REGION
STYLE:Solid:2
ACTIVE:1
//ASRDATA:GND
{{ data.edln['TaxiwayElement']['4682806b-ee10-c6ff-e053-1514a8c027b7'] | simplify(0.000005) | to_poly('E','closure') }}
COLOR:closure-symbol
{% for symbol, geom in data.edln_layout['layout']['Closures']['E 1'].items() %}
{{ geom | to_symbol('CROSS') }}
{% endfor %}

MAP:E
AIRPORT:EDLN
FOLDER:Closures
COORDTYPE:TWYCLOSED:REGION
STYLE:Solid:2
ACTIVE:1
//ASRDATA:GND
{{ data.edln['TaxiwayElement']['4682806b-ee11-c6ff-e053-1514a8c027b7'] | simplify(0.000005) | to_poly('E','closure') }}
COLOR:closure-symbol
{% for symbol, geom in data.edln_layout['layout']['Closures']['E 2'].items() %}
{{ geom | to_symbol('CROSS') }}
{% endfor %}

MAP:Runway 28
AIRPORT:EDLN
FOLDER:Closures
COORDTYPE:TWYCLOSED:REGION
STYLE:Solid:2
ACTIVE:1
//ASRDATA:GND
{{ data.edln['RunwayElement']['4682806b-edc5-c6ff-e053-1514a8c027b7'] | simplify(0.000005) | to_poly('Runway 28','closure') }}
COLOR:closure-symbol
{% for symbol, geom in data.edln_layout['layout']['Closures']['Runway 28'].items() %}
{{ geom | to_symbol('CROSS') }}
{% endfor %}

MAP:Apron
AIRPORT:EDLN
FOLDER:Closures
COORDTYPE:TWYCLOSED:REGION
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{% for symbol, geom in data.edln_layout['layout']['Closures']['Apron'].items() %}
{{ geom | to_symbol('CROSS_S') }}
{% endfor %}