// ----------------------------- Labels -----------------------------

MAP:Taxiways
AIRPORT:EDLN
FOLDER:Labels
ACTIVE:1
ZOOM:600
{{ data.edln_layout['layout']['Labels']['Labels Buffer'][''] | to_poly('', 'layout-taxiway') }}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for taxiway, geom in data.edln_layout['layout']['Labels']['Taxiways'].items() %}
{{- geom | to_text(taxiway) -}}
{% endfor %}

MAP:Stands
AIRPORT:EDLN
FOLDER:Labels
ACTIVE:1
ZOOM:700
FONTSIZE:=:9
COLOR:layout-label-stand
{% for stand, geom in data.edln_layout['layout']['Labels']['Stands'].items() %}
{{- geom | to_text(stand) -}}
{% endfor %}