// ------------------------------------------------------------------
//                                 EDDL
// ------------------------------------------------------------------

// ---------------------------- Perimeter ---------------------------
{% set default = 0.000005 %}
MAP:Perimeter
AIRPORT:EDDL
FOLDER:Airport Layout
//ACTIVE:1
{{ data.eddl_layout['layout']['Base']['Base'] | to_poly('Base', 'layout-base') }}

// ---------------------------- Apron Area --------------------------

MAP:Apron Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddl_layout['layout']['Apron']['Apron'] | to_multipoly('Apron','layout-apron') }}
{{ data.eddl_layout['layout']['Apron']['K5'] | to_multipoly('K5','layout-apron') }}

// --------------------------- Parking Area -------------------------

MAP:Parking Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.eddl_layout['layout']['Apron Marking']['Parking'] | simplify(default) | to_multiline('Parking Area') }}

// ------------------------------- Roads ----------------------------

MAP:Roads
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
COLOR:layout-taxiway
{{ data.eddl_layout['layout']['Roads']['Roads'] | simplify(default) | to_multiline('Roads') }}