// -------------------------- Ground Layout -------------------------
{% set default = 0.000005 %}

MAP:Taxiway Movement Area
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddl_layout['layout']['Taxiways']['Taxiways'] | to_multipoly('Taxi Area','layout-taxiway') }}

MAP:Runways
AIRPORT:EDDL
FOLDER:Airport Layout
ACTIVE:1
{{ data.eddl_layout['layout']['Apron']['23L/05R'] | to_poly('Runway 23L/05R','layout-apron') }}
{{ data.eddl_layout['layout']['Apron']['23R/05L'] | to_poly('Runway 23R/05L','layout-apron') }}
{{ data.eddl_layout['layout']['Runways']['23L/05R'] | to_poly('Runway 23L/05R','layout-taxiway') }}
{{ data.eddl_layout['layout']['Runways']['23R/05L'] | to_poly('Runway 23R/05L','layout-taxiway') }}
{{ data.eddl_layout['layout']['Runways']['Blastpad 23R'] | to_poly('Runway 23R/05L','layout-taxiway') }}

