// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDDL
FOLDER:LVP
ACTIVE:LVP:EDDL:1
COLOR:lvp-marking
STYLE:SOLID:2
// LOC
{{ loc_tick(runways.EDDL['23L'], 0, -0.01) }}
{{ loc_tick(runways.EDDL['23L'], 0, 0.01) }}
{{ loc_tick(runways.EDDL['05R'], 0, -0.01) }}
{{ loc_tick(runways.EDDL['05R'], 0, 0.01) }}
{{ loc_tick(runways.EDDL['23R'], 0, -0.01) }}
{{ loc_tick(runways.EDDL['23R'], 0, 0.01) }}
{{ loc_tick(runways.EDDL['05L'], 0, -0.01) }}
{{ loc_tick(runways.EDDL['05L'], 0, 0.01) }}