// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDLV
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1
// B, C
RESTRICTION:MAXCODE:C
{{ data.edlv_layout['layout']['Restrictions']['B'] | to_poly('') }}
RESTRICTION:MAXCODE:C
{{ data.edlv_layout['layout']['Restrictions']['C'] | to_poly('') }}
// F, G
RESTRICTION:MAXCODE:B
{{ data.edlv_layout['layout']['Restrictions']['F'] | to_poly('') }}
RESTRICTION:MAXCODE:B
{{ data.edlv_layout['layout']['Restrictions']['G'] | to_poly('') }}