// ------------------------ A380 Taxiroutes -------------------------

MAP:23L
AIRPORT:EDDL
FOLDER:A380
{{ data.eddl_layout['layout']['A380']['23 ARR='] | to_multipoly('', 'restrictions-C') }}
{{ data.eddl_layout['layout']['A380']['23 DEP='] | to_multipoly('', 'restrictions-D') }}
STYLE:SOLID:3
COLOR:restrictions-C
{{ data.eddl_layout['layout']['A380']['23 ARR'] | to_multiline('') }}
COLOR:restrictions-D
{{ data.eddl_layout['layout']['A380']['23 DEP'] | to_multiline('') }}

STYLE:SOLID:2
COLOR:restrictions-AB
{{ data.eddl_layout['layout']['Restrictions']['A380'] | to_multiline('') }}
COLOR:restrictions-AB
{% for desig, geom in data.eddl_layout['layout']['A380']['Stop'].items() %}
{{- geom | to_symbol('VERBOT_1') }}
{% endfor %}
{{ data.eddl_layout['layout']['A380']['Stop L6'] | to_symbol('VERBOT_1') }}
COLOR:layout-label-stand
{% for desig, geom in data.eddl_layout['layout']['A380']['Stop'].items() %}
{{- geom | to_symbol('VERBOT_2') }}
{% endfor %}
{{ data.eddl_layout['layout']['A380']['Stop L6'] | to_symbol('VERBOT_2') }}

COLOR:restrictions-C
TEXTALIGN:RC
{{ data.eddl_layout['layout']['A380']['L7'] | to_text('Then via:0:-12') }}
{{ data.eddl_layout['layout']['A380']['L7'] | to_text('M, L8, R') }}

COLOR:layout-label-stand
FONTSIZE:=:12
TEXTALIGN:CC
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('A380 Taxiroutes:0:-15') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('      - DEP 23L:0:0') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('      - ARR 23L:0:15') }}
COLOR:restrictions-D
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('_____          :0:-6') }}
COLOR:restrictions-C
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('_____          :0:9') }}

// C02A, V08B, V11B, V38B
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig in ['C02A', 'V08B', 'V11B', 'V38B'] %}
{{- data.eddl_layout['layout']['Labels']['Stands'][desig | string] | to_text(desig) }}
{% endfor %}
COLOR:restrictions-F
{% for desig in ['C02A', 'V08B', 'V11B', 'V38B'] %}
{{- data.eddl_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}

MAP:05R
AIRPORT:EDDL
FOLDER:A380
{{ data.eddl_layout['layout']['A380']['05 ARR='] | to_multipoly('', 'restrictions-C') }}
{{ data.eddl_layout['layout']['A380']['05 DEP='] | to_multipoly('', 'restrictions-D') }}
STYLE:SOLID:3
COLOR:restrictions-C
{{ data.eddl_layout['layout']['A380']['05 ARR'] | to_multiline('') }}
COLOR:restrictions-D
{{ data.eddl_layout['layout']['A380']['05 DEP'] | to_multiline('') }}

STYLE:SOLID:2
COLOR:restrictions-AB
{{ data.eddl_layout['layout']['Restrictions']['A380'] | to_multiline('') }}
COLOR:restrictions-AB
{% for desig, geom in data.eddl_layout['layout']['A380']['Stop'].items() %}
{{- geom | to_symbol('VERBOT_1') }}
{% endfor %}
COLOR:layout-label-stand
{% for desig, geom in data.eddl_layout['layout']['A380']['Stop'].items() %}
{{- geom | to_symbol('VERBOT_2') }}
{% endfor %}

COLOR:layout-label-stand
FONTSIZE:=:12
TEXTALIGN:CC
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('A380 Taxiroutes:0:-15') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('      - DEP 05R:0:0') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('      - ARR 05R:0:15') }}
COLOR:restrictions-D
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('_____          :0:-6') }}
COLOR:restrictions-C
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('_____          :0:9') }}

// C02A, V08B, V11B, V38B
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig in ['C02A', 'V08B', 'V11B', 'V38B'] %}
{{- data.eddl_layout['layout']['Labels']['Stands'][desig | string] | to_text(desig) }}
{% endfor %}
COLOR:restrictions-F
{% for desig in ['C02A', 'V08B', 'V11B', 'V38B'] %}
{{- data.eddl_layout['layout']['Restrictions']['Stands'][desig | string] | to_symbol('STAND') }}
{% endfor %}
