MAP:De-Icing 05L/R NOTAM
AIRPORT:EDDL
FOLDER:Ice/Snow

// Areas
COORDTYPE:OTHER:REGION:x
STYLE:Solid:1
{% for desig in ['PAD3W', 'PAD4W'] %}
{{- data.eddl_layout['layout']['Deicing'][desig | string] | to_poly(desig, 'layout-runway') }}
{% endfor %}
{% for desig in ['PAD1W NOTAM', 'PAD3W NOTAM', 'PAD4W NOTAM'] %}
{{- data.eddl_notam['notam'][desig | string] | to_poly(desig, 'layout-runway') }}
{% endfor %}

// Arrows
COORDTYPE:OTHER:REGION
{{ data.eddl_notam['notam']['PAD= NOTAM'] | to_multipoly('', 'layout-taxiline-white') }}

// Taxilines
COLOR:layout-taxiline-white
STYLE:Solid:2
{% for desig in ['PAD3W-', 'PAD4W-'] %}
{{- data.eddl_layout['layout']['Deicing'][desig | string] | to_line(desig) }}
{% endfor %}
{% for desig in ['PAD1W- NOTAM', 'PAD3W- NOTAM', 'PAD4W- NOTAM'] %}
{{- data.eddl_notam['notam'][desig | string] | to_line(desig) }}
{% endfor %}

// Outlines
STYLE:Solid:2
COLOR:deicing
{% for desig in ['PAD3W', 'PAD4W'] %}
{{- data.eddl_layout['layout']['Deicing'][desig | string] | to_line(desig) }}
{% endfor %}
{% for desig in ['PAD1W NOTAM', 'PAD3W NOTAM', 'PAD4W NOTAM'] %}
{{- data.eddl_notam['notam'][desig | string] | to_line(desig) }}
{% endfor %}

// Labels
ZOOM:600
COLOR:layout-label-stand
FONTSIZE:=:11
TEXTALIGN:LC
{{ data.eddl_notam['notam']['PAD1W_ NOTAM'] | to_text('DP1:10:0') }}
TEXTALIGN:RC
{{ data.eddl_layout['layout']['Deicing']['PAD3W_'] | to_text('DP1') }}
{{ data.eddl_layout['layout']['Deicing']['PAD4W_'] | to_text('DP2') }}
{{ data.eddl_notam['notam']['PAD3W_ NOTAM'] | to_text('DP3') }}
{{ data.eddl_notam['notam']['PAD4W_ NOTAM'] | to_text('DP4') }}

FONTSIZE:=:60
COLOR:restrictions-C
TEXTALIGN:LC
{{ data.eddl_notam['notam']['PAD1W_ NOTAM'] | to_text('.:-14:-17') }}
TEXTALIGN:RC
{{ data.eddl_notam['notam']['PAD3W_ NOTAM'] | to_text('.:-9:-17') }}
{{ data.eddl_notam['notam']['PAD4W_ NOTAM'] | to_text('.:-9:-17') }}
COLOR:restrictions-F
{{ data.eddl_layout['layout']['Deicing']['PAD3W_'] | to_text('.:-9:-17') }}
COLOR:restrictions-E
{{ data.eddl_layout['layout']['Deicing']['PAD4W_'] | to_text('.:-9:-17') }}



// Reference
COLOR:layout-label-stand
TEXTALIGN:CC
FONTSIZE:=:12
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('Reference  :0:-30') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('Code C < 36m (A321/B739):0:-15') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('Code D < 52m (A310/B763):0:0') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('Code E < 65m (A343/B77W):0:15') }}
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('Code F < 80m (A388/B748):0:30') }}

FONTSIZE:=:70
COLOR:restrictions-C
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('.:-95:-69') }}
COLOR:restrictions-D
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('.:-95:-54') }}
COLOR:restrictions-E
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('.:-95:-39') }}
COLOR:restrictions-F
{{ data.eddl_layout['layout']['Restrictions']['Ref'] | to_text('.:-95:-24') }}
