// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:600
{{ data.eddl_layout['layout']['Labels']['Buffer T'][''] | to_poly('', 'layout-taxiway') }}
{{ data.eddl_layout['layout']['Labels']['Buffer A'][''] | to_poly('', 'layout-apron') }}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for desig, geom in data.eddl_layout['layout']['Labels']['Taxiways'].items() %}
{{- geom | to_text(desig) }}
{% endfor %}

MAP:Checkpoints
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:1000
FONTSIZE:=:9
COLOR:layout-holdingpoint
TEXTALIGN:CC
{{ data.eddl_layout['layout']['Labels']['CP 1'] | to_text('Check:0:-9') }}
{{ data.eddl_layout['layout']['Labels']['CP 1'] | to_text(' point 1') }}
TEXTALIGN:LC
{{ data.eddl_layout['layout']['Labels']['CP 2'] | to_text('Check:0:-9') }}
{{ data.eddl_layout['layout']['Labels']['CP 2'] | to_text('point 2') }}

MAP:Areas
AIRPORT:EDDL
FOLDER:Labels
ACTIVE:1
ZOOM:600
FONTSIZE:=:9
COLOR:layout-label-stand
{% for desig in ['GAT', 'Police'] %}
{{- data.eddl_layout['layout']['Labels']['Stands'][desig | string] | to_text(desig) }}
{% endfor %}