// ------------------------- Approach Window ------------------------

MAP:Airspace C:A
AIRPORT:EDDL
FOLDER:Approach Window
COLOR:layout-runway
{{ data.rawdata['airspace/airspace_c/eddl_eddk_c_dashed.txt'] }}

MAP:EDDL CTR:A
AIRPORT:EDDL
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:layout-runway
{{ data.rawdata['airspace/ctr/eddl.txt'] }}

MAP:EDDL Extended Centerlines:A
AIRPORT:EDDL
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:layout-runway
// 23L
{{ ecl_dashes(runways.EDDL['23L'], 12) }}
{{ marker_ticks(runways.EDDL['23L'], [4], 0, 0.325, 1) }}
{{ marker_ticks(runways.EDDL['23L'], [8.8], 0.5, 1, 1) }}
// 05R
{{ ecl_dashes(runways.EDDL['05R'], 12) }}
{{ marker_ticks(runways.EDDL['05R'], [4], 0, 0.325, 2) }}
{{ marker_ticks(runways.EDDL['05R'], [8.9], 0.5, 1, 2) }}
// 23R
{{ ecl_dashes(runways.EDDL['23R'], 12) }}
{{ marker_ticks(runways.EDDL['23R'], [4], 0, 0.325, 2) }}
{{ marker_ticks(runways.EDDL['23R'], [8.9], 0.5, 1, 2) }}
// 05L
{{ ecl_dashes(runways.EDDL['05L'], 12) }}
{{ marker_ticks(runways.EDDL['05L'], [4], 0, 0.325, 1) }}
{{ marker_ticks(runways.EDDL['05L'], [8.9], 0.5, 1, 1) }}

MAP:EDLN CTR:A
AIRPORT:EDDL
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:layout-runway
{{ data.rawdata['airspace/ctr/edln.txt'] }}

MAP:EDLN Extended Centerlines:A
AIRPORT:EDDL
FOLDER:Approach Window
ACTIVE:1
STYLE:SOLID:1
COLOR:layout-runway
// 31
{{ ecl_dashes(runways.EDLN['31'], 12) }}
// 13
{{ ecl_dashes(runways.EDLN['13'], 12) }}

COLOR:appwindow-runway
// 31/13
LINE:51.227002:6.511211:51.233723:6.497803

MAP:Airfields:A
AIRPORT:EDDL
FOLDER:Approach Window
ACTIVE:1
COLOR:layout-runway
SYMBOL:AIRPORT:EDLF
SYMBOL:AIRPORT:EDLK
SYMBOL:AIRPORT:EDLE

MAP:VFR Points:A
AIRPORT:EDDL
FOLDER:Approach Window
COLOR:layout-runway
SYMBOL:VFR:DL-S:S:10:-7
SYMBOL:VFR:DL-E:E:10:-7
SYMBOL:VFR:DL-N:N:10:-7
