// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDFH
FOLDER:Holding Points
ACTIVE:LVP:EDFH:0
{% for holdingpoint in ['A I', 'B I', 'C I', 'D I', 'E I', 'F I'] %}
{{- data.edfh_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
{% for holdingpoint in ['A III', 'B III', 'C III', 'D III', 'E III', 'F III', 'M III'] %}
{{- data.edfh_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint-grey') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['A I', 'B I', 'C I', 'D I', 'E I', 'F I'] %}
{{- data.edfh_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Holding Points CAT II/III
AIRPORT:EDFH
FOLDER:Holding Points
ACTIVE:LVP:EDFH:1
{% for holdingpoint in ['A III', 'B III', 'C III', 'D III', 'E III', 'F III', 'M III'] %}
{{- data.edfh_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}