// ------------------------------ LVP -------------------------------

MAP:LVP
AIRPORT:EDFH
FOLDER:LVP
ACTIVE:LVP:EDFH:1
COLOR:lvp-marking
STYLE:SOLID:2
// LOC
{{ loc_tick(runways.EDFH['21'], 0, -0.01) }}
{{ loc_tick(runways.EDFH['21'], 0, 0.01) }}
{{ loc_tick(runways.EDFH['03'], 0, -0.01) }}
{{ loc_tick(runways.EDFH['03'], 0, 0.01) }}