// ------------------------------- AoR ------------------------------

MAP:LVP
AIRPORT:EDFH
FOLDER:AoR
STYLE:Dot
COLOR:aor-gnd-a
{{ data.edfh_layout['layout']['AoR']['LVP FHG'] | to_multiline('FHG') }}
COLOR:aor-twr-a
{{ data.edfh_layout['layout']['AoR']['LVP FHT'] | to_multiline('FHT') }}
ZOOM:400
FONTSIZE:=:11
COLOR:layout-label-taxiway
TEXTALIGN:RC
{{ data.edfh_layout['layout']['AoR']['LVP1_'] | to_text('During LVO') }}
TEXTALIGN:LC
{{ data.edfh_layout['layout']['AoR']['LVP2_'] | to_text('During LVO') }}

MAP:EDFH_GND
AIRPORT:EDFH
FOLDER:AoR
COLOR:aor-gnd-a
STYLE:Dot
{{ data.edfh_layout['layout']['AoR']['FHG'] | to_line('FHG') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edfh_layout['layout']['AoR']['FHG_'] | to_text('FHG  121.980') }}

MAP:EDFH_TWR
AIRPORT:EDFH
FOLDER:AoR
COLOR:aor-twr-a
STYLE:Dot
{{ data.edfh_layout['layout']['AoR']['FHT'] | to_line('FHT') }}
ZOOM:400
FONTSIZE:=:13
{{ data.edfh_layout['layout']['AoR']['FHT_'] | to_text('FHT  119.655') }}

MAP:EDFH_EIF_APP
AIRPORT:EDFH
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edfh_layout['layout']['AoR']['FHT_'] | to_text('EIF  125.600:0:-20') }}

MAP:EDGG_RUD_CTR
AIRPORT:EDFH
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edfh_layout['layout']['AoR']['FHT_'] | to_text('RUD  133.435:0:-20') }}

MAP:EDGG_GIN_CTR
AIRPORT:EDFH
FOLDER:AoR
COLOR:aor-app-a
ZOOM:400
FONTSIZE:=:13
{{ data.edfh_layout['layout']['AoR']['FHT_'] | to_text('GIN  124.730:0:-20') }}