// -------------------------- Runway Info ---------------------------

MAP:TORA 21
AIRPORT:EDFH
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:RC
{{ data.edfh_layout['layout']['TORA']['21'] | to_text('3800') }}
{{ data.edfh_layout['layout']['TORA']['21 F'] | to_text('3500') }}
{{ data.edfh_layout['layout']['TORA']['21 E'] | to_text('2700') }}
{{ data.edfh_layout['layout']['TORA']['21 D'] | to_text('1900') }}

MAP:TORA 03
AIRPORT:EDFH
FOLDER:Runway Info
COLOR:tora-label
ZOOM:500
TEXTALIGN:LC
{{ data.edfh_layout['layout']['TORA']['03 B1'] | to_text('3800') }}
{{ data.edfh_layout['layout']['TORA']['03 B2'] | to_text('3500') }}
{{ data.edfh_layout['layout']['TORA']['03 C'] | to_text('2450') }}
{{ data.edfh_layout['layout']['TORA']['03 D'] | to_text('1600') }}

MAP:Runway Designators
AIRPORT:EDFH
FOLDER:Runway Info
ACTIVE:1
{{ data.edfh_layout['layout']['Markings']['21'] | to_multipoly('21', 'layout-runway-marking') }}
{{ data.edfh_layout['layout']['Markings']['03'] | to_multipoly('03', 'layout-runway-marking') }}

MAP:Runway Markings
AIRPORT:EDFH
FOLDER:Runway Info
{% for marking, geom in data.edfh['RunwayMarking'].items() %}
{{- geom | to_poly(marking, 'layout-runway-marking') }}
{% endfor %}