// ----------------------- Permament Closures -----------------------

MAP:Runway Backtrack Areas
AIRPORT:EDFH
FOLDER:Closures
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{{ data.edfh_layout['layout']['Closures']['Runway'] | to_multisymbol('CROSS_S') }}

MAP:Apron
AIRPORT:EDFH
FOLDER:Closures
ACTIVE:1
//ASRDATA:GND
COLOR:closure-symbol
{{ data.edfh_layout['layout']['Closures']['Apron'] | to_symbol('CROSS_S') }}