// ----------------------- Restriction Checks -----------------------

MAP:Checks
AIRPORT:EDFH
FOLDER:Restrictions
COORDTYPE:TWYTYPE:NONE
ACTIVE:1
// A, C
RESTRICTION:MAXCODE:C
{{ data.edfh_layout['layout']['Restrictions']['A'] | to_poly('') }}
// D
RESTRICTION:MAXWEIGHT:14000
{{ data.edfh_layout['layout']['Restrictions']['D'] | to_poly('') }}