// ------------------------- Holding Points -------------------------
MAP:Holding Points CAT I
AIRPORT:EDLP
FOLDER:Holding Points
ACTIVE:1
{% for holdingpoint in ['A_1', 'A1_1', 'B_1', 'C_1', 'D_1'] %}
{{- data.edlp_layout['layout']['Holding Points'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['A_2', 'A1_2', 'B_2', 'C_2', 'D_2'] %}
{{- data.edlp_layout['layout']['Holding Points'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Apron Stopbars
AIRPORT:EDLP
FOLDER:Holding Points
ACTIVE:1
COLOR:layout-holdingpoint
{% for stopbar, geom in data.edlp_layout['layout']['Stopbars'].items() %}
{{ geom | to_line(stopbar) }}
{% endfor %}