// ------------------------- Holding Points -------------------------

MAP:Holding Points CAT I
AIRPORT:EDLP
FOLDER:Holding Points
ACTIVE:1
{% for holdingpoint in ['A', 'A1', 'B', 'C', 'D'] %}
{{- data.edlp_layout['layout']['Holding Points']['P'][ holdingpoint | string ] | to_poly(holdingpoint, 'layout-holdingpoint') }}
{% endfor %}
COLOR:layout-holdingpoint
{% for holdingpoint in ['A', 'A1', 'B', 'C', 'D'] %}
{{- data.edlp_layout['layout']['Holding Points']['L'][ holdingpoint | string ] | to_line(holdingpoint) }}
{% endfor %}

MAP:Apron Stopbars
AIRPORT:EDLP
FOLDER:Holding Points
ACTIVE:1
COLOR:layout-holdingpoint
{{ data.edlp_layout['layout']['Holding Points']['L']['Apron'] | to_multiline('') }}