// ----------------------- Permament Closures -----------------------

MAP:E
AIRPORT:EDLP
FOLDER:Closures
COORDTYPE:TWYCLOSED:REGION
STYLE:Solid:2
ACTIVE:1
//ASRDATA:GND
{{ data.edlp['TaxiwayElement']['4e9e87d1-21fc-dbb5-e053-1514a8c0ce95'] | simplify(0.000005) | to_poly('E','closure') }}
{{ data.edlp['TaxiwayElement']['ebdc12cb-a4f1-0d75-e053-651ea8c09349'] | simplify(0.000005) | to_poly('E','closure') }}
COLOR:closure-symbol
{% for symbol, geom in data.edlp_layout['layout']['Closure Symbols']['E'].items() %}
{{ geom | to_symbol('CROSS') }}
{% endfor %}
