// ----------------------------- Labels -----------------------------
MAP:Taxiways
AIRPORT:EDLP
FOLDER:Labels
ACTIVE:1
ZOOM:400
{{ data.edlp_layout['layout']['Labels']['Labels Buffer'][''] | to_poly('', 'layout-taxiway') }}
FONTSIZE:=:10
COLOR:layout-label-taxiway
{% for taxiway, geom in data.edlp_layout['layout']['Labels']['Taxiways'].items() %}
{{- geom | to_text(taxiway) -}}
{% endfor %}

MAP:Stands
AIRPORT:EDLP
FOLDER:Labels
ACTIVE:1
ZOOM:500
FONTSIZE:=:9
COLOR:layout-label-stand
{% for stand, geom in data.edlp_layout['layout']['Labels']['Stands'].items() %}
{{- geom | to_text(stand) -}}
{% endfor %}